[submodule ".zsh/pure"]
	path = .zsh/pure
	url = https://github.com/sindresorhus/pure
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux
[submodule ".config/nvim/plugged"]
	path = .config/nvim/plugged
	url = https://github.com/junegunn/vim-plug
